.row-c {
    text-align: center;
}

.container {
    font-size: 25px;
}

.military-photo {
    max-height: 220px;
    min-width: 240px;
    max-width: 240px;
}

.col-text {
    min-width: 300px;
}

@media (min-width: 992px) {
    .container {
        height: 1000px;
    }
}

.about-description > span {
    font-weight: bold;
}