.NavLink {
    font-size:large;
    font-weight: bold;
}

.NavingationBar {
    background-color: #1f2224;
}

.white {
    color:white;
}

.NavBrand {
    font-size:25px;
}

.navbar-white{
    background-color: white;
}

.focusAnimate {
    border: 2px solid white;
    border-radius: 50%;
    animation: scale 1s infinite alternate;
}
  
@keyframes scale {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.2);
    }
}