.projects {
    background-color: rgb(218, 218, 218);
}

.ProjectTitle {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 50px;
    letter-spacing: -1.2px;
    word-spacing: -3.6px;
    color: #000000;
    font-weight: 700;
    text-decoration: none solid rgb(68, 68, 68);
    font-style: normal;
    font-variant: small-caps;
    text-transform: none;
}

.col-card{
    min-width: 225px;
}

.card {
    min-width: 225px;
    height: 100%;
}

.buttonLink {
    vertical-align: baseline;
}

.github-button{
    padding-top: 1rem!important;
}